<%= form_for(@wadl) do |f| %>
  <% if @wadl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wadl.errors.count, "error") %> prohibited this wadl from being saved:</h2>

      <ul>
      <% @wadl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class = "field">
    <%= f.label :wadlfile %><br/>
    <%= f.file_field :wadlfile %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
